  <router-outlet></router-outlet>


















 <!-- <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
  <div class="formGroup">
    <label for="Username">Username</label>
    <input type="Username" class="form-control"
    formControlName ="Username"/>
    <span *ngIf="loginForm.get('Username').invalid">please enter the valid Username</span>
  </div>

  <div class="formgroup">
    <label for="Passsword">Passsword</label>
    <input type="Password" class="form-control"
    formControlName ="Passsword"/>
    <span *ngIf="loginForm.get('Password').invalid">please enter the valid Passsword</span>
  </div>
  <button class="btn btn-primary"  (click)="onFormSubmit()">Submit</button>
</form> -->



